[2021-06-05 22:28] RupomChowdhury commented on #10384
Nothing related to swag.. if you received the comment about getting swag from your first accepted PR. You'll get the swag. But they'll not accept your new PR.  Suppose they accept your new PR, but the problem is your new PR will not visible in the yearbook. So you cannot correct/fix your university name in the yearbook. 😢

[2021-06-06 07:33] vasudev-sharma commented on #10373
Same here I too changed my user name from **@vs74** to **@vasudev-sharma**. My PR has been merged with my old username.

May I know would it create any problem? If yes, should I create another PR?

[2021-06-07 03:02] Rajat-Jain29 commented on #10384
Did you know when will SWAG will delivered?

[2021-06-07 03:08] RupomChowdhury commented on #10384
@Rajat-Jain29 they have stock right now. hopefully, end/mid of this month.

[2021-06-07 07:26] MDmubarak786 opened #10392 "I review the list in graduation Book and I am not appear. What happen? Could you please explain me? Thanks in advance."
I review the list in graduation Book and I am not appear. What happen? Could you please explain me? Thanks in advance.

[2021-06-07 07:52] arrbxr commented on #10392
@MDmubarak786
Hi, you appear in Yearbook 2021 here is your name:- [MDmubarak](https://education.github.com/graduation/yearbook?sort=az&page=12&search=MDmubarak786#MDmubarak786)

[2021-06-07 08:02] MDmubarak786 commented on #10392
Thank you so much  brother I try to search but It show nothing ... i got in this post means I am eligible for swag kit right ??

[2021-06-07 08:04] arrbxr commented on #10392
what is your PR number?

[2021-06-07 08:16] MDmubarak786 commented on #10392
6146

[2021-06-07 08:27] arrbxr commented on #10392
The first 5000 PR are only eligible for SWAG

[2021-06-07 12:25] kumarabhinav19 commented on #10387
There is no update till now!

[2021-06-08 08:38] theharshrastogi commented on #10388
There is no update till now, it's just in 2-3 weeks will delivered in USA. They have till when it will be delivered in other countries. But they said assured us.

[2021-06-08 16:26] elisemoe commented on #10368
As mentioned, the repository closed for reviews on May 27 and the event has concluded.

[2021-06-08 16:26] #10368 closed

[2021-06-08 16:27] elisemoe commented on #10371
Yes! You're welcome to join future events 💖

[2021-06-08 16:27] #10371 closed

[2021-06-08 16:28] elisemoe commented on #10373
Thank-you both for letting us know! I've updated the information on our side.

[2021-06-08 16:28] #10373 closed

[2021-06-08 16:28] #10375 closed

[2021-06-08 16:30] #10384 closed

[2021-06-08 16:30] #10385 closed

[2021-06-08 16:32] elisemoe commented on #10387
@brookmg you can submit your updated shipping information here by the end of day please. https://airtable.com/shrZuXu2OKrxO6PiD

[2021-06-08 16:32] #10387 closed

[2021-06-08 16:32] elisemoe commented on #10388
you can submit your updated shipping information here by the end of day please. https://airtable.com/shrZuXu2OKrxO6PiD

[2021-06-08 16:32] #10388 closed

[2021-06-08 16:32] #10392 closed

[2021-06-08 16:34] Snipeur060 commented on #10388
yes i submit now

[2021-06-12 21:47] 4po opened #10393 "Not showing?"
[4po.md](https://github.com/education/GitHubGraduation-2021/files/6642934/4po.md)

---
name: Leonhart Bukovski
institution: thecodingmachine
quote: French-Man ! We L0V3 Baguettes ;)
github_user: 4po
---

[2021-06-13 03:17] varghesejose2020 commented on #10393
What is your PR number

[2021-06-14 19:39] adnamaric commented on #10393
@4po You forked copy of graduation repository from some random user instead of forking it directly from education/GitHubGraduation-2021, and that's the reason you can't see your pull request among other requests.

[2021-06-17 10:44] Rajat-Jain29 commented on #10393
Is anyone received swag those who are in top 5000 PRs ?

[2021-06-17 11:29] asifrasheed6 commented on #10393
I don't think they have shipped it yet. I guess they'll update it on the README or on Twitter when they does.

[2021-06-17 12:39] Rajat-Jain29 commented on #10393
@varghesejose2020 what's the number of your PR ?

[2021-06-17 12:41] asifrasheed6 commented on #10393
144

[2021-06-17 14:18] varghesejose2020 commented on #10393
😊👍  @asifrasheed6

[2021-06-18 07:36] adityaj48 opened #10396 "update regarding shipment"
anybody has any idea, till when we are getting it (expected time)

[2021-06-19 00:46] vasiliso opened #10397 "Can I still change my shipping address?"
I just moved away from college and need to change my address. Both addresses are in the US.

[2021-06-19 04:16] magbanum commented on #10397
I too have same request. I want to change my shipping address and the contact number. Previous one is not reachable due to low connectivity. Please Let me know if you can do so. Thanks in advance 🌻

[2021-06-19 06:31] adavijit commented on #10396
@elisemoe Please share update on this

[2021-06-19 22:16] kavyanshpandey commented on #10396
I have not received any card on email and also haven't received swags yet.

[2021-06-21 03:31] Pavankalyannvs commented on #10396
Don't know but everyone is eagerly waiting for swags😅

[2021-06-21 03:46] faizalanwar commented on #10396
I hope no one is disappointed

[2021-06-21 09:39] Anshtalwar360 commented on #10396
Is there any update?

[2021-06-25 18:03] harshgupta20 commented on #10396
Do people who did register for 2020 class got the swags ?
If not then there is no chance of giving the swags for our batch(2021).

[2021-06-25 18:06] adavijit commented on #10396
@harshgupta20 nope! Swag is in production and it will be a few weeks until everything is printed

[2021-06-25 18:16] harshgupta20 commented on #10396
@adavijit Thanks for the info. but how you know it ?

[2021-06-25 18:29] adavijit commented on #10396
@harshgupta20
->https://github.com/education/GitHubGraduation-2021/issues/10351#issuecomment-853050747

[2021-06-25 21:43] D-Studios commented on #10396
What date will we get swag from participating?

[2021-06-25 21:43] D-Studios commented on #10396
What date will we get swag?

[2021-06-25 23:17] #10397 closed

[2021-06-25 23:42] elisemoe commented on #10396
Hello 👋 Congrats everyone on your graduation! Swag is still in production. We don't have an estimated ship date just yet but we will update the Graduation repository readme as soon as we do!

Thanks for your patience 💖

[2021-06-25 23:42] #10396 closed

[2021-07-02 17:48] JPmontero3 opened #10401 "Someone has recived the swag?"

[2021-07-02 19:27] yashsrivastava16 commented on #10401
Nope not yet...

[2021-07-02 19:50] vyb1821096 commented on #10401
Nope

On Sat, 3 Jul, 2021, 12:57 am Yash Srivastava, ***@***.***>
wrote:

--

**This email is governed by the Disclaimer Terms of  SIU which may be
viewed at http://www.siu.edu.in/downloads/email-disclaimer.php
<http://www.siu.edu.in/downloads/email-disclaimer.php>**

[2021-07-03 15:59] utsanjan commented on #10401
Nope :(

[2021-07-04 11:25] suriya-1403 commented on #10401
Nope 😕

[2021-07-04 17:36] MichaelODeli commented on #10401
Nope... No comments from GitHub..

[2021-07-04 20:49] khurramaleee commented on #10401
I have received comment
![Screenshot_20210705_014832](https://user-images.githubusercontent.com/38392342/124399174-29d7a100-dd33-11eb-8c39-6eb4ffdbb0f9.jpg)

[2021-07-04 21:50] kingsman142 commented on #10401
I have not

[2021-07-04 21:57] edward-shen commented on #10401
Hey folks, it's pretty clear that people have not received swag yet.

At this point, repeating what others have said isn't helpful and sends an email out to everyone subscribed to this (either by explicitly clicking the subscribe button or participating in this thread).

It's in the best interest for everyone here to really only respond when they've _actually_ received something, so that people in

[2021-07-06 12:38] daminebenq commented on #10401
Nope...

[2021-07-06 22:55] takint commented on #10401
Nope...

[2021-07-07 05:22] adavijit commented on #10401
Nope...

[2021-07-07 08:53] anshobrii commented on #10401
still hoping to get soon

- [ ]

[2021-07-08 04:53] theacheng commented on #10401
Nope...

[2021-07-08 17:48] adavijit commented on #10401
Anyone still waiting for the swags 😂 ??

[2021-07-09 00:58] theacheng commented on #10401
Sure that we get this :/

[2021-07-10 10:37] harshgupta20 commented on #10401
I don't think we will be getting swags because I googled a lot but not a blog or video was there related to github graduation 2020.

🤔May be, we gave them some info about us and in-return we got fooled, Plz change my mind by sharing some positive news about swag.

[2021-07-10 16:51] isumit19 commented on #10401
@harshgupta20

https://www.linkedin.com/posts/aman-kumar-sharma-2a4775159_octograd-github-githubeducation-activity-6706934512007413760-fC21

https://www.linkedin.com/posts/piyush24_octograd-github-activity-6698604029448212481-FYUt

[2021-07-10 17:46] harshgupta20 commented on #10401
Thanks for sharing this, now I hope we will get it soon😎

[2021-07-11 12:46] Jyny commented on #10401
still wait for it

[2021-07-12 13:01] adityaj48 commented on #10401
nope not till n ow

[2021-07-12 13:02] adityaj48 commented on #10393
still waiting for it

[2021-07-12 15:58] aayush-jaiswal commented on #10401
I raised a support ticket and got this response.
![image](https://user-images.githubusercontent.com/32239884/125318953-f52da000-e357-11eb-8edb-3e326e0d7fee.png)

[2021-07-12 16:37] hippyaki commented on #10401
Most probably by August-end, everyone will receive their swags. It's all about patience uhuh. Last year it was shipped around August. But let's hope sooner this year.

[2021-07-15 08:25] MohithGowdaHR commented on #10401
does anyone knows on how to change delivery address ?

[2021-07-15 10:02] asifrasheed6 commented on #10401
You could enter the new address in the text field according to reply from @elisemoe in another issue.
https://airtable.com/shrZuXu2OKrxO6PiD

[2021-07-15 10:55] MohithGowdaHR commented on #10401
Thank You @asifrasheed6

[2021-07-15 15:13] amjedsaleel commented on #10401
Note yet

[2021-07-19 02:15] hruday-tej commented on #10401
Hey, are we supposed to get any mail with shipping details, coz i haven't got any mail like that?

[2021-07-19 08:06] r21meghashyam commented on #10401
I got my info merged here, next thing i know, I'm getting a mail from Github saying my student coupon for Github Pro has expired 😂.
No info on any shipment.

[2021-07-19 13:47] kingsman142 commented on #10401
My hypothesis is Github used this graduation swag as a trick. Students would tell Github they're graduating and no longer qualify for the student developer pack, so Github can go and unregister them and save money.

[2021-07-19 14:04] edward-shen commented on #10401
Mate, it's one thing to be impatient about receiving _free_ swag, but it's another thing to accuse others of malicious intent.

There's dozens of better and easier ways for a company to save money (or increase their revenue, for that matter), and this is not one of them. They can earn millions more by a slight change in their enterprise pricing... and you're saying they're trying to nickel and dim

[2021-07-19 14:09] kingsman142 commented on #10401
It ain't that serious bro. Chill.

[2021-07-19 14:50] edward-shen commented on #10401
Nah man, I'm prefectly chill. I just don't mind calling out offhanded rude remarks that only offer fear, uncertainty, and doubt to a discussion.

[2021-07-19 14:52] harshgupta20 commented on #10401
We all appreciate the efforts made by github team✌✌🙌🙌

[2021-07-20 16:43] srishtidh opened #10407 "Possibility of Updating Shipping Address"
Hello,

I will be moving due to personal circumstances, and wanted to check if it is still possible to update the shipping address I submitted through the original form.

Thanks!
Srishti

[2021-07-20 21:00] dyl10s commented on #10407
I actually am in the same situation and would love to know!

[2021-07-21 06:37] MaheshBabu11 commented on #10407
You could enter the new address in the text field in the form linked below according to a reply from @elisemoe in another issue.
https://airtable.com/shrZuXu2OKrxO6PiD

[2021-07-21 14:35] srishtidh commented on #10407
Thanks a lot for the link @MaheshBabu11!

I noticed that form in the other issue, but wasn't sure if they're still accepting changes through that.

Would be great to hear from the Education team!

[2021-07-25 14:34] adavijit opened #10409 "Update regarding swag shipment"
@elisemoe

If the swag shipment has already been processed please update on Readme file. Here everyone is coming to check update on shipment of swag. Please make it clear to everyone. Also let us know the tracking process of the shipment.

[2021-07-27 06:47] alexkjoseph commented on #10407
I am sorry to disturb everyone. @MaheshBabu11  should I complete this form inorder to recieve swags

[2021-07-27 09:04] MaheshBabu11 commented on #10407
No, @alexkjoseph  This form is for those who wish to change their shipping address but I'm not sure if they're still accepting changes through that.

[2021-07-30 19:00] yashsrivastava16 commented on #10409
@elisemoe yes please make an update

[2021-08-02 06:22] hruday-tej commented on #10409
Are they rolling out any Email when your swag is shipped and ready to be delivered?

[2021-08-08 19:11] Shuja-Ahmed-Official opened #10411 "About missing"
Please add the purpose of this code to make people understand easily.

[2021-08-19 21:30] elisemoe commented on #10409
We've had a few delays with production but swag is still in the works! Thanks for your patience 💖

[2021-08-19 21:30] #10409 closed

[2021-08-30 12:43] hruday-tej commented on #10401
Did anyone receive swags, if yes, do they roll out an email which shows the tracking information??

[2021-08-30 12:56] asifrasheed6 commented on #10401
The swag hasn't been shipped yet, they'll update the README.MD file once they do...

[2021-08-31 15:51] Anshtalwar360 commented on #10401
It's been so long how much time will they take?

[2021-09-01 17:11] srinidhibhat45 opened #10416 "When are the Swags Shipping?"
would like to know when the swags will ship :/

[2021-09-02 14:54] adavijit commented on #10409
@elisemoe , It would be so nice if you share any update with us

[2021-09-08 07:54] blackmarketer commented on #10416
Yeah same here! it's been already month waiting for updates:(

[2021-09-09 21:43] jvjvalerio commented on #10416
any updates on swag shipment?

[2021-09-10 07:16] Ankur-Khandelwal commented on #10416
Yes, it has been months now

[2021-09-13 13:26] Reprevise commented on #10416
Yeah, would really like to know. Been waiting 3 months.

[2021-09-13 14:54] Ankur-Khandelwal commented on #10416
@elisemoe

[2021-09-13 20:00] erikizan commented on #10416
Have not received anything either 😭, was really looking forward to the merch :/

[2021-09-13 22:02] karakolodinsky commented on #10416
Just remembered this, any updates???

[2021-09-14 04:47] SpooderManEXE opened #10419 "Any update?"
Has anyone received the package/update regarding the swags? Its been almost 3 months. They haven't updated the readme as well.

[2021-09-14 17:13] UjwalKandi opened #10420 "Ushsbshz"
Zjhzhahah

[2021-09-15 07:31] #10420 closed

[2021-09-15 22:14] Rishav1212 opened #10421 "Please Update the readme!"
It's almost a quarter. Still no update. Can you please tell us that when are we going to receive the swags :)

[2021-09-16 14:30] shubhamkhuntia commented on #10401
Haven't received yet

[2021-09-16 15:13] nitish-awasthi commented on #10421
@elisemoe @juanpflores

[2021-09-17 03:02] faizalanwar commented on #10421
Maybe we will have to wait until December, this information listed in the FAQ, [Here](https://education.github.com/graduation/faq)

[2021-09-18 19:51] Lynicis opened #10422 "swag pack will not coming! change my mind"
change my mind but u cant this.

[2021-09-22 04:22] nitish-awasthi opened #10423 "Dear Github Graduation Team, Can you please show the same enthusiasm that you were showing before 5 June 2021. So that we don't consider this event as spam."
@elisemoe @juanpflores

[2021-09-22 14:56] elisemoe commented on #10423
Hey @nitish-awasthi! This is our favorite event of the year and I promise we're as enthusiastic as ever behind the scenes 💖 Production has faced a few delays and we've had to go through some redesign to get things to the level we want to share with all of you. As soon as the cards have been printed and confirmed to ship soon, we will let you all know. Thanks for your patience.

[2021-09-22 14:56] #10423 closed

[2021-09-22 14:58] elisemoe commented on #10422
I'm not sure I can change your mind but I promise we're still working on swag 💖  We've had to make a few design changes and work with the printer to get the cards to the level we want to share with all of you. I'll update the repo as soon as I've seen the physical cards printed and heading to shipping!

[2021-09-23 15:50] akksshah opened #10424 "Update Shipping Address"
@elisemoe Is there any way we can update the shipping address. I understand that the cards have not been printed and hence wondered if there was a possibility to update the shipping address. I would really appreciate it

[2021-09-27 19:32] elisemoe commented on #10424
Yes! Please submit your updated address in the Notes field of [the question form](https://airtable.com/shrZuXu2OKrxO6PiD).

[2021-09-27 20:42] nfl0 commented on #10421
i think it will be distributed in the form of NFTs

[2021-09-29 15:40] Lynicis commented on #10422
u said and u still didn't update readme. why?

[2021-09-30 06:28] shivang17 commented on #10422
@Lynicis : She said the update to README would happen once the physical printed cards will be headed to shipping. Please put your foot in Github's shoes and see how overwhelming it is to do such event and do everything for free. Have patience!

[2021-10-03 04:11] pman47 opened #10428 "i didn't receive swag yet :("
i didn't receive swag yet :(

_Originally posted by @pman47 in https://github.com/education/GitHubGraduation-2021/issues/6994#issuecomment-932189897_
![2021-10-3_9-58-56](https://user-images.githubusercontent.com/72241422/135739985-77d94d14-39a5-46fa-a0e2-010e82829270.PNG)

[2021-10-03 18:15] thisispratt commented on #10416
Sad to see that there are no updates on the swag. 😞 @elisemoe

[2021-10-04 23:38] manoj997 commented on #10422
@amashi996 @Bavanraj-5

[2021-10-06 11:35] micaelillos opened #10429 "What's the ETA for the swag"

[2021-10-07 13:54] Sanan4li commented on #10429
#10422 Please check this issue and see the comments.

[2021-10-07 13:54] Sanan4li commented on #10428
#10422 Please check this issue and read the comments.

[2021-10-14 16:32] A-Singh15 opened #10430 "What's the ETA for the swag follow up"
Hi Just looking for an update

Cheerio hubbers

[2021-10-15 04:40] #10416 closed

[2021-10-17 05:50] #10428 closed

[2021-10-29 16:23] saurabhprasadsah opened #10434 "how can i apply"
how can i apply for this..
please guide me..

[2021-10-30 07:43] RupomChowdhury commented on #10434
next year.

[2021-10-30 16:14] saurabhprasadsah commented on #10434
okay thanku

[2021-11-01 15:59] Darkshadow9799 opened #10435 "Any Updates"
Any updates regarding swags?

@elisemoe + @juanpflores

[2021-11-04 01:27] manoj997 commented on #10422
@elisemoe any updates?

CC: @juanpflores

[2021-11-05 07:56] Junyi-bro commented on #10401
Nope.

[2021-11-12 15:56] manoj997 commented on #10422
Hi @elisemoe ,

Please be kind enough to understand that due to COVID-19 pandemic, most of us did not have a physical convocation/graduation ceremony. The only hope we had was github virtual graduation and the swag kit. It would be really nice of you to hurry up the process and have the swags to all of us who are eligible ASAP. It has been a few months now and we have not heard anything. We're not

[2021-11-12 18:49] elisemoe commented on #10422
I'll continue to update the readme as the swag progresses through production 💚 We're close to shipping!

[2021-11-12 18:49] #10422 closed

[2021-11-13 01:29] manoj997 commented on #10422
@elisemoe Thank you very much for your update! :) <3

[2021-11-14 12:26] Darkshadow9799 commented on #10422
@elisemoe  any updates on swag shipping?

[2021-11-17 15:21] adavijit commented on #10435
@elisemoe + @juanpflores

Please update the shipping details with. It's been long time you haven't updated anything.
In case you have plan not to ship then please update the readme file.
Here we're coming here and checking the shipment status everyday. It does't make sense at all.

[2021-11-21 21:09] nfl0 opened #10436 "Any Updates?"
Wen arrival? 👯

[2021-11-25 06:11] nitish-awasthi opened #10437 "Are we going to get the same set of goodies.... even after waiting so long? There must be something very exciting coming up apart from usual swags kit that's why there is production delay. Isn't It @elisemoe ?"
@elisemoe

[2021-11-25 17:07] brookmg commented on #10437
![Right?](https://c.tenor.com/geBVoJbfwiEAAAAM/star-wars-right.gif)

[2021-11-30 06:03] SpooderManEXE commented on #10435
following

[2021-12-03 23:35] devgregw commented on #10401
I just received mine, I'm located in TX

[2021-12-04 01:05] elisemoe commented on #10437
Swag has shipped 🥳

https://github.com/education/GitHubGraduation-2021/blob/main/README.md

[2021-12-04 01:05] #10437 closed

[2021-12-04 01:05] elisemoe commented on #10436
Swag has shipped 🎉

https://github.com/education/GitHubGraduation-2021/blob/main/README.md

[2021-12-04 01:05] #10436 closed

[2021-12-04 01:05] elisemoe commented on #10435
Swag has shipped 🎉

https://github.com/education/GitHubGraduation-2021/blob/main/README.md

[2021-12-04 01:05] #10435 closed

[2021-12-04 01:06] elisemoe commented on #10430
Swag has shipped 🎉

https://github.com/education/GitHubGraduation-2021/blob/main/README.md

[2021-12-04 01:06] #10430 closed

[2021-12-04 01:06] elisemoe commented on #10429
Swag has shipped 🎉

https://github.com/education/GitHubGraduation-2021/blob/main/README.md

[2021-12-04 01:06] #10429 closed

[2021-12-04 01:06] elisemoe commented on #10421
Swag has shipped 🎉

https://github.com/education/GitHubGraduation-2021/blob/main/README.md

[2021-12-04 01:06] #10421 closed

[2021-12-04 01:06] elisemoe commented on #10419
Swag has shipped 🎉

https://github.com/education/GitHubGraduation-2021/blob/main/README.md

[2021-12-04 01:06] #10419 closed

[2021-12-04 01:06] elisemoe commented on #10401
Swag has shipped 🎉

https://github.com/education/GitHubGraduation-2021/blob/main/README.md

[2021-12-04 01:06] #10401 closed

[2021-12-05 11:55] MichaelODeli opened #10439 "Tracking information"
I live in another country. How can i track my swag?

[2021-12-05 21:37] edje123 opened #10440 "Received swag, but did not receive extra swag even though I submitted video thanking a teacher"
Thank you to the GitHub team! The trading card is awesome, might have to frame it!

I’m seeing others on twitter posting their extra swag from having sent in a video thanking a teacher, but I only received the trading card, even though I also sent in one of these videos. Please let me know if I’m misunderstanding something!

@elisemoe

[2021-12-06 12:13] copypasteearth opened #10441 "Explain the stats on the card"
Hi I got my card and I'm just wondering what the numbers on the card stand for. I'm pretty sure the bottom left is the number of pull request that we were.

Thank you

[2021-12-06 16:06] mkwarman opened #10442 "Blank stats?"
Hi! I just received my card, and while the picture and username look good, the statistics section of the card is blank. Just wondering if there was an issue with [my submission](https://github.com/education/GitHubGraduation-2021/pull/1520). Thank you!
![image0(1)](https://user-images.githubusercontent.com/7865063/144880343-7736f6b3-77cb-4d00-b952-0e858f0b4360.jpeg)

[2021-12-06 17:00] yashsrivastava16 commented on #10440
Hey can you share the pictures of what swag you received please..

[2021-12-07 10:46] Sanan4li commented on #10442
@mkwarman can you share what else did you receive? if possible, share pictures. We are waiting from the last 6 months.

[2021-12-07 10:48] Sanan4li commented on #10441
Not sure but that number represent your position in the year book https://education.github.com/graduation/yearbook

[2021-12-07 10:50] Sanan4li commented on #10439
I think there is no way. All we can do is wait and if it doesn't appear we'll fill the form which will be available after 31 january.

[2021-12-07 15:39] nitish-awasthi commented on #10442
@Sanan4li nothing else, only cards are getting delivered.

[2021-12-09 19:55] yashsrivastava16 commented on #10442
Not even github logo bottle?

[2021-12-09 23:04] cygann commented on #10442
@mkwarman It looks like they printed the bio line from our profiles in the box under the picture. Since your profile doesn't have a bio, this may be why it's blank.

[2021-12-10 18:40] mkwarman commented on #10442
Great observation @cygann, indeed I now see that it even says to ensure your bio is up to date with that you want printed on the card in the GitHubGraduation-2021 repo [README.md](https://github.com/education/GitHubGraduation-2021#readme). Seems this is expected then, and I failed to RTFM 😄

I'll go ahead and close this issue.

[2021-12-10 18:40] #10442 closed

[2021-12-11 22:33] edje123 commented on #10440
Unfortunately not at home right now, but here is a photo of someone else's swag from twitter (it's identical):
![image](https://user-images.githubusercontent.com/3153544/145693609-3719eecf-7c0b-4451-9ab5-a46a494fe807.png)

[2021-12-19 17:22] A-Singh15 commented on #10411
@Shuja-Ahmed-Official Please close this issue as it is clearly written what its for!

[2021-12-19 17:23] A-Singh15 opened #10443 "replace lost or damaged shipments"
Hi I believe the Swag got lost in the mail

[2021-12-20 04:38] #10411 closed

[2021-12-22 06:24] jasleen101010 commented on #10443
Hi! I am from India and still haven't received my swag kit. Am I missing some important info? :(

[2021-12-22 08:05] Anonymous7code commented on #10443
Same with me also didn't got any mail or any sort of indication of swag

[2021-12-22 18:49] MichaelODeli commented on #10443
Do you read this?
[code]

[2021-12-28 04:25] manoj997 commented on #10441
Hi i got the card today. is that the only swag?

[2021-12-28 04:29] manoj997 opened #10444 "Only cards as swag?"
Hi,
I got a card today from GitHub education. But not sure if that's the only "swag" we're supposed to get.

@elisemoe Please kindly respond

[2021-12-28 04:32] MaheshBabu11 commented on #10441
I got the same a few days back. I Think the card along with the letter is the swag.

[2021-12-28 04:34] manoj997 commented on #10444
![IMG_20211228_095125.jpg](https://user-images.githubusercontent.com/40816448/147528453-4e2e743f-80ed-4d8c-a78e-635c8824d599.jpg)

[2021-12-28 04:38] manoj997 commented on #10441
Well that is disappointing! Why do they call it a swag and delay it for months saying shipment issue? They could've sent an email with the card attached!

@elisemoe
I regret to say that it is disappointing! This may reflect negatively in the upcoming GitHub Graduation 2022.

[2021-12-28 04:42] faizalanwar commented on #10444
@manoj997 can you show me the back of the card?

[2021-12-28 04:46] elisemoe commented on #10441
I'll create a guide to each part of the card and add to the readme in a few days! 😁

Thanks everyone for the feedback. The trading card is the swag, as shared before the event. We'll continue working to come up with fun and unique ways of celebrating graduation each year.

[2021-12-28 04:48] manoj997 commented on #10444
Trading card? Here you go..![IMG_20211228_101812.jpg](https://user-images.githubusercontent.com/40816448/147529264-881a6d5f-5d5b-48a4-9741-212768a09143.jpg)

[2021-12-28 04:54] manoj997 commented on #10444
So as mentioned by @elisemoe in #10441 , The trading card is the swag. This is disappointing for most of us but that is the reality. The batch of 2020 got Github water bottles and a sticker pack but we do not deserve such "swag".
Sad indeed. But anyway thank you so much for everyone with @education for arranging this.

Closing this.

[2021-12-28 04:54] #10444 closed

[2021-12-28 04:54] manoj997 commented on #10444
@amashi996 @Bavanraj-5
FYI

[2021-12-28 05:05] elisemoe commented on #10444
I'll definitely talk with the team about what we can do to make things better next year! Disappointment is not a feeling we want anyone to have receiving swag, especially during a moment to celebrate everything you've achieved over the past few years! Congrats again 💖

For graduation 2020, the general level of swag included the same card as this year and stickers. For a variety of other challenges

[2021-12-28 05:08] elisemoe commented on #10440
The back of the cards should be different 😁 I'll work on a reference for the meaning behind everything on the card this week and update the readme!

[2021-12-28 05:41] anshobrii opened #10445 "Got Swag-pack 🎁 in India 📦"
<h1> I am from India and I still haven't received my swag pack anyone got any info yet :(</h1>

[2021-12-29 07:30] CrazyCoder009 commented on #10445
Same here

[2021-12-29 11:47] MaheshBabu11 commented on #10445
I am also in India, I received the swag pack a week ago.

[2021-12-29 13:28] vp1099 opened #10447 "Got the swags"
Thank you GitHub!!

Got the swag !!

[2021-12-29 14:20] anshobrii commented on #10445
wow, Congrats  🎉
Btw which company delivered your Swag-Pack?

[2021-12-29 14:21] anshobrii commented on #10447
wow, Congrats 🎉
Btw which company delivered your Swag-Pack?

[2021-12-31 13:16] hruday-tej commented on #10445
Bro i just got 2 cards, no swag nothing

[2021-12-31 13:17] hruday-tej commented on #10445
It comes through mail

[2022-01-01 03:12] Anonymous7code opened #10448 "Haven't received my sway yet"

[2022-01-02 16:01] Harindulk commented on #6609
@elisemoe Will it be held in 2022? 🥲🥲

[2022-01-03 06:36] RakshaPawar108 commented on #10445
Even I am from India, I didn't  even get notification of swags being shipped..

[2022-01-03 07:19] MaheshBabu11 commented on #10445
You will not receive any notification. It's delivered through Indian post to your mailing address.

[2022-01-08 18:06] mboduroff opened #10449 "GitHubGraduation-2022?"
Hi,

I was wondering whether there was going to be a 2022 edition of GitHubGraduation. I will be graduating high school in 2022 and graduating from GitHub sounds just as cool. 😄

Greetings from Bulgaria,
Martin Bodurov

[2022-01-11 14:28] Sanan4li commented on #10448
Same here.

[2022-01-17 17:24] Bomrzoq commented on #10448
Same here Saudi Arabia. waiting till 31 jan to report. Hopefully it will arrive.

[2022-01-20 15:17] asifrasheed6 commented on #10448
@elisemoe could you update the README.md with the form link to report lost shipment, it shouldn't take this long to ship package to UAE.

[2022-01-20 15:19] elisemoe commented on #10448
I'm still hearing of letters arriving every day! I'll open the form at the end of January. Thanks for your updates, I know how frustrating it can feel to wait!

[2022-01-22 10:32] pradana4648 commented on #10448
Southeast Asia haven't received yet

[2022-01-25 12:52] pman47 commented on #10445
I'm also from India and didn't received yet :(

[2022-01-25 15:21] s0nnyhu commented on #10448
From France and haven't received it yet.

[2022-01-27 17:32] Darkshadow9799 commented on #10448
From India haven't received yet

[2022-01-28 05:44] adarsh786-tech commented on #10448
I also haven't received my swag, I am from India. By the way, how do I know that I would get the swag or not?

[2022-01-28 20:11] SphinxTwo commented on #10448
I am in the U,S, still haven't received swag.

[2022-01-30 01:42] caioagiani commented on #10449
@mboduroff https://education.github.com/graduation/schedule

[2022-01-31 07:05] anjalibachani opened #10450 "Haven't received my swag yet"
^

[2022-01-31 10:48] 1998code commented on #10450
+1 😞

[2022-01-31 13:43] pman47 commented on #10450
+1 😢

[2022-01-31 16:33] RakshaPawar108 commented on #10445
Same for me. They were going to release a form I guess after 31st for those who didn't receive.

[2022-01-31 17:22] Anshtalwar opened #10451 "SWAG NOT RECEIVED"
hello team, I just wanted to let you know that I still haven't received my sway.

[2022-02-01 02:02] pman47 commented on #10451
+1 😢👍

[2022-02-01 06:59] RakshaPawar108 commented on #10448
I am in India, still haven't received the swag yet. Waiting for the form to open now.

[2022-02-01 14:52] augustoaccorsi opened #10452 "No swag received yet on Brazil"
I am from Brazil and still have not received my swag

[2022-02-02 11:41] colodenn commented on #10452
I'm from Germany and I also did not receive anything.

[2022-02-02 14:19] Sanan4li commented on #10452
Same.. No swag in pakistan. They said they'll create a form to complain but no form yet.

[2022-02-02 14:40] aman339 commented on #10450
+1

[2022-02-02 14:42] aman339 commented on #10451
Even I'm too. I also did not receive it.

[2022-02-02 14:46] Anshtalwar commented on #10451
Wow no reply

[2022-02-02 15:27] xobe19 commented on #10452
+1, no swag yet in india.

[2022-02-02 15:47] mitulsrv-vnsgu commented on #10452
I didn't received any swag as well any email notification regarding to that. @elisemoe

[2022-02-02 16:46] MathCarnelutt commented on #10452
Also from Brazil and no swag yet

[2022-02-03 07:53] RakshaPawar108 commented on #10452
No swag received in India. Waiting for the form to open up.

[2022-02-03 14:51] thainapires commented on #10452
Same here, also from Brazil

[2022-02-05 07:19] Naoki95957 opened #10453 "Where's the "new form to replace lost or damaged shipments"?"
If you have not received your swag by January 31, 2022, **_head back to this repository and we'll open a new form to replace lost or damaged shipments._**

 #1175

Well I live in the states and I never saw anything in the Puget Sound of WA. I've been keeping an eye on things and was hoping to see at least the form. I'm actually moving so I'd need to update the address as well.

Hope all is going w

[2022-02-05 16:06] Anonymous7code commented on #10452
Same from INDIA waiting since long....

[2022-02-05 21:27] RupomChowdhury commented on #10452
I was thinking not to speak..bt i also didn't receive any kind of swag yet..😔...(I'm from Bangladesh🇧🇩)..

[2022-02-06 21:54] RYANSI commented on #10453
I think it might take time recommend you fill the graduation 2022 as this might not be updated anytime soon

[2022-02-07 21:03] elisemoe commented on #10453
Please fill out the replacement form ✨

https://github.com/education/GitHubGraduation-2021

[2022-02-07 21:03] #10453 closed

[2022-02-07 21:03] elisemoe commented on #10452
If you haven't yet received your trading card, please fill out the replacement form ✨

https://github.com/education/GitHubGraduation-2021

[2022-02-07 21:03] #10452 closed

[2022-02-07 21:04] elisemoe commented on #10451
If you haven't yet received your trading card, please fill out the replacement form ✨

https://github.com/education/GitHubGraduation-2021

[2022-02-07 21:04] #10451 closed

[2022-02-07 21:04] elisemoe commented on #10450
If you haven't yet received your trading card, please fill out the replacement form ✨

https://github.com/education/GitHubGraduation-2021

[2022-02-07 21:04] #10450 closed

[2022-02-07 21:04] elisemoe commented on #10448
If you haven't yet received your trading card, please fill out the replacement form ✨

https://github.com/education/GitHubGraduation-2021

[2022-02-07 21:06] elisemoe commented on #10443
If you haven't yet received your trading card, please fill out the replacement form ✨

https://github.com/education/GitHubGraduation-2021

[2022-02-07 21:06] #10443 closed

[2022-02-07 21:06] elisemoe commented on #10439
If you haven't yet received your trading card, please fill out the replacement form ✨

https://github.com/education/GitHubGraduation-2021

[2022-02-07 21:06] #10439 closed

[2022-02-07 21:07] #10424 closed

[2022-02-07 21:07] #10407 closed

[2022-02-07 21:07] #10393 closed

[2022-02-07 21:07] #10434 closed

[2022-02-07 21:08] elisemoe commented on #10445
If you haven't yet received your trading card, please fill out the replacement form ✨

https://github.com/education/GitHubGraduation-2021

[2022-02-07 21:08] #10445 closed

[2022-02-07 21:08] #10447 closed

[2022-02-07 21:09] akksshah commented on #10424
Hi @elisemoe , was the address update successful?

[2022-02-07 21:10] elisemoe commented on #10424
Hi @akksshah 👋 address updates should have been successful! But if you still haven't received your trading card, please fill out the replacement form just in case.

https://airtable.com/shrfvURjuNzpnk48i

[2022-02-10 18:52] CrazyCoder009 commented on #10445
I just got my Swag pack! Thank you Github!

[2022-02-11 08:21] TheDynamicPunk commented on #10444
Rightly said @manoj997, I'd have definitely loved to see at least a Github sticker pack in the shipment having waited for almost an year. @elisemoe

(P.S. I've still not received the swag but have filled the replacement form. Waiting with my fingers crossed.)

[2022-02-16 16:44] Bomrzoq opened #10455 "Confirmation"
I just wanted to know if there would be any confirmation for the procedure of the lost request. I feel anxious that it might get lost again :(

[2022-03-04 06:53] ArchanGhosh opened #10456 "I couldn't fill the replacement form"
Hi I couldn't fill in the replacement for the cards form, as I didn't receive the swags. is it possible that it can be done somehow?

[2022-03-04 12:09] sharmas1ddharth commented on #10456
Hi I couldn't fill in the replacement form as well, and didn't receive the swags also.

[2022-03-05 00:03] MNchino commented on #10456
I didn't even know this was a thing until just now.  Haven't gotten any swag in the mail.  Is the replacement form still available?

[2022-03-06 18:57] daminebenq commented on #10456
https://airtable.com/shrfvURjuNzpnk48i
broken link..

[2022-03-07 02:06] Aslam97 commented on #10456
@ArchanGhosh You can't **README.md** you can only re-submit before **March 1**

[2022-03-07 06:02] ArchanGhosh commented on #10456
I know its just that I missed out

[2022-03-10 09:30] akandil7 commented on #10456
@GitHub-Education-bot  : we missed the form deadline, is there any way to give a chance for those who weren't following the readme on daily basis?

[2022-03-10 13:23] hamzashabbir11 opened #10457 "Cannot Find Replacement form 😢"

[2022-03-10 13:25] #10457 closed, assigned to nobody

[2022-03-10 13:28] hamzashabbir11 opened #10458 "Cannot Find Replacement form It is expired."
Hi GitHub Education Team!
Just saw the form but it's expired, unfortunately. Would appreciate it if someone from the team can reopen it.
Thanks <3

[2022-03-11 05:13] ME-ON1 commented on #10456
@elisemoe take a look here please ;_;

[2022-03-12 18:23] anshobrii commented on #10456
### I filled out the form twice but till now I didn't get any notification.

[2022-03-13 03:35] pman47 opened #10459 "I have filled form both time, last time and now, but didn't get any notification about it :(."

[2022-03-19 13:53] unsubstantiated-Script opened #10460 "GitHub School Pack AI is broken"
Need to review the system GitHub.
Applied with multiple verification documents with current date et all and now the system is auto-rejecting my application. Tried opening a service ticket and that gets auto closed as well. Please fix this....

[2022-03-19 13:54] unsubstantiated-Script commented on #10459
The AI is auto-rejecting valid documents....

[2022-03-21 09:55] Ritik2703 opened #10461 "Don't received swag yet"
I have filled forms both time but don't receive the swags yet. please send it asap

[2022-03-24 15:33] RupomChowdhury opened #10462 "Ended up with no hope :)"
So we won't get any swag...no more hope!
Thanks!

[2022-03-24 15:44] #10462 closed, assigned to nobody

[2022-03-24 18:36] aman339 commented on #10461
even I'm also not getting any updates over my swags, I have also filled both the times.
please have a look for the issue and expecting answers from the team like what's the status of Shipping the swags.

[2022-04-04 11:03] pman47 commented on #10459
Got the swags today :) thank you 😊
![IMG_20220404_162814](https://user-images.githubusercontent.com/72241422/161530811-702328ee-daa2-4f86-aa04-1ed98309cff5.jpg)

[2022-04-04 11:03] #10459 closed, assigned to nobody

[2022-04-05 17:45] anshobrii commented on #10445
I didn't get any update yet .

[2022-04-12 21:24] puneetb22 opened #10463 "Didn't received the swags and was not aware about Trading card replacement form deadline."

[2022-04-13 02:33] RupomChowdhury commented on #10463
forget about it..

[2022-04-14 11:00] Sanan4li commented on #10463
I even filled the form again but didn't receive any swag. I think we should forget it now.

[2022-04-21 18:12] justaman045 commented on #10461
I still haven't received the Swags, I also had filled the replacement form also but still didn't received if anyone looking on this matter do look on this issue.

[2022-04-24 03:06] gerhardengelbrecht opened #10464 "Cannot remove this repo from my account"
I want to remove this repo from my account

[2022-04-27 10:33] avt613 commented on #10464
You should be able to remove it by going to your fork, going to settings and scrolling to the bottom of the general tab

[2022-05-03 18:23] Saphall commented on #10461
Nor did I heard anything about my swag. Filled both forms as well.

[2022-05-05 17:02] nitish-awasthi opened #10470 "GitHub Graduation 2022 started, 2021 graduates still waiting for swags."
@elisemoe atleast provide some updates.

[2022-05-06 01:58] RupomChowdhury commented on #10470
hahahhahah.....we won't get our swag..so leave this topic now..

[2022-05-07 18:30] retr00exe commented on #10470
Yeah me too, please provide us some updates @elisemoe

[2022-05-08 20:22] thisavijit commented on #10470
GitHub graduation swag campain was really a fraud. Thank you so much @elisemoe

[2022-05-10 18:41] elisemoe commented on #10470
Hi folks 👋  graduation swag shipped twice last year. Once as the initial shipment, and again with replacement swag for anyone who hadn't received the letter by March ([see ReadMe](https://github.com/education/GitHubGraduation-2021)). We work within the limitations of available shipping services and customs, and know many of you did not receive your letters -- which sucks!

If you never received yo

[2022-05-10 18:41] #10470 closed, assigned to nobody

[2022-05-12 17:17] sunnad99 opened #10473 "Haven't received the swag yet"
I haven't been able to receive the swag and forgot to look at the replacement form. Is it still possible to receive the swag? And if it still isn't possible, can I get it through Github Graduation 2022?

[2022-05-14 19:52] Ibinola opened #10474 "Haven't received my swag"
I haven't been able to receive the swag and forgot to look at the replacement form. Is it still possible to receive the swag?

[2022-05-21 05:14] Surya742 commented on #10474
The same goes for me

[2022-05-23 15:23] bengunur06 opened #10476 "I haven't received my sway"
I haven't received my sway. Can you please assist?

[2022-05-24 16:42] topperkp commented on #10474
+1

[2022-05-25 09:43] ghost commented on #10461
I have also not received swag till now. @elisemoe Please lokk here with our problem.

[2022-05-26 18:21] nikhilskul7 opened #10477 "*Uh Oh! I've found some issues with where you have created your files!* *The required markdown file does not exist, please ensure the file `_data/nikhilskul7/nikhilskul7.md` exists*"
I don't know why I am getting this error. Please help
https://github.com/education/GitHubGraduation-2022/runs/6614386302?check_suite_focus=true

[2022-06-06 03:23] RupomChowdhury commented on #10470
@elisemoe [PR Link](https://github.com/education/GitHubGraduation-2022/pull/5276)

[2022-06-08 03:49] praveenbommalibits commented on #10474
+1

[2022-07-12 14:17] parad0x96 commented on #10477
It's too late it's been more than a year ?

[2022-07-13 07:19] putra4648 commented on #10476
Forget about it...

[2022-08-14 04:18] karthi-002 commented on #3016
i have submitted my student id for github student developer pack ,but it is rejecting continously , please verify my certificate and approve

[2022-09-17 17:14] prabincankod opened #10483 "havent received my swags yet.."